.values-section {
  background-color: #f0f8ff;
  /* light blue background */
  padding: 60px 20px;
  text-align: center;
  border-radius: 10px;
  max-width: 900px;
  /* Matched to Mission container width */
  margin: 20px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.values-title {
  color: #2c3e50;
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: 700;
}

.values-description {
  color: #34495e;
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}